* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f8eed8;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);

  @media (max-width: 768px) {
    padding-top: 100px;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --waffle: #edcf92;
  --light-waffle: #faf4e6;
  --light-waffle-2: #edcf92;
  --dark-waffle: #e0ad45;
  --dark-waffle-2: #c48e20;

  --waffle-border: #7e5b14;

  --waffle-shadow: #f5e4c3;

  --text-1: #382b22;
}

@font-face {
  font-family: "SillyFont";
  src: url("/fonts/slabthing-font/Slabthing-YvLL.ttf");
}

@font-face {
  font-family: "SillyFontRU";
  src: url("/fonts/HandveticaNeue-Regular/HandveticaNeue-Regular.ttf");
}

@font-face {
  font-family: "SillyFontRU-2";
  src: url("/fonts/AngrybirdsRegular/AngrybirdsRegular.ttf");
}

@font-face {
  font-family: "SillyFont-2";
  src: url("/fonts/kbluckyclover-font/Kbluckyclover-djAR.ttf");
}
